<!DOCTYPE html>
<html>
<head></head>
<meta name="viewport" content="width=device-width" />
<title>Movies</title>

<body>
    <h1>Movies API</h1>
    <div id="container"></div>
    <script src="./wwwroot/source/app.js"></script>
</body>


</html>

